.theme-toggle-wrapper {
    --bg-color: #cde7ff;
    --switch-width: 150px;
    --switch-height: 65px;
    --switch-round: 50px;
    --switch-padding-x: 5px;
    --switch-bg: linear-gradient(to bottom, #73bbff, #a2d1fd);
    --switch-dark-bg: linear-gradient(to top, #2b3347, #181d27);
    --border-width: 2px;
    --border-gradient: linear-gradient(to bottom, #a2d1fd, #cde7ff);
    --border-dark-gradient: linear-gradient(to bottom, #000000, #6c7384);
    --sunmoon-size: 55px;
    --transition: all 0.5s ease;

    /* Fix layout size to match scaled content (150*0.6 = 90, 65*0.6 = 39) */
    width: 90px;
    height: 39px;
}

.theme-toggle-wrapper .switch {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--switch-width);
    height: var(--switch-height);
    border-radius: var(--switch-round);
    cursor: pointer;
    transition: var(--transition);
    background: var(--switch-bg);
    transform: scale(0.6);
    transform-origin: top left;
    /* Align to top-left to fit wrapper */
}

.theme-toggle-wrapper .switch::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: var(--switch-round);
    opacity: 0;
    background: var(--switch-dark-bg);
    transition: var(--transition);
}

.theme-toggle-wrapper.dark .switch::before {
    opacity: 1;
}

.theme-toggle-wrapper .switch .border {
    position: absolute;
    top: calc(var(--border-width) * -1);
    left: calc(var(--border-width) * -1);
    width: calc(100% + var(--border-width) * 2);
    height: calc(100% + var(--border-width) * 2);
    border-radius: var(--switch-round);
    background: var(--border-gradient);
    z-index: -1;
    transition: var(--transition);
}

.theme-toggle-wrapper .switch .border::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: var(--switch-round);
    background: var(--border-dark-gradient);
    opacity: 0;
    transition: var(--transition);
}

.theme-toggle-wrapper.dark .switch .border::after {
    opacity: 1;
}

.theme-toggle-wrapper .switch input {
    display: none;
}

.theme-toggle-wrapper .sunmoon {
    position: absolute;
    width: var(--sunmoon-size);
    height: var(--sunmoon-size);
    border-radius: 50%;
    transition: var(--transition);
    left: var(--switch-padding-x);
    z-index: 1;
    background-color: #FFC187;
    box-shadow: 0px 0px 11.7px 0px #FFC187, 0px 0px 20px 0px #ffc18768, -2px -2px 5px 0px #ffab5c inset;
}

.theme-toggle-wrapper.dark .sunmoon {
    left: calc(100% - var(--sunmoon-size) - var(--switch-padding-x));
    background-color: #dee5f3;
    box-shadow: 0px 0px 51.7px 0px #dee5f3;
}

.theme-toggle-wrapper .darkside {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    background-color: #FFC187;
    transition: var(--transition);
}

.theme-toggle-wrapper.dark .darkside {
    background-color: #565c6b;
}

.theme-toggle-wrapper .clouds {
    border-radius: var(--switch-round);
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.theme-toggle-wrapper .cloud {
    position: absolute;
    width: 60%;
    transition: var(--transition);
}

.theme-toggle-wrapper .cloud-1 {
    bottom: -55%;
    left: 0;
}

.theme-toggle-wrapper .cloud-2 {
    bottom: -45%;
    left: 25px;
}

.theme-toggle-wrapper .cloud-3 {
    bottom: -40%;
    right: 0px;
}

.theme-toggle-wrapper .cloud-4 {
    bottom: -16%;
    right: -25px;
}


.theme-toggle-wrapper.dark .cloud-1 {
    bottom: -35%;
    left: -110px;
}

.theme-toggle-wrapper.dark .cloud-2 {
    bottom: -15%;
    left: -110px;
    transition: all 0.7s ease;
}

.theme-toggle-wrapper.dark .cloud-3 {
    bottom: -15%;
    right: -110px;
}

.theme-toggle-wrapper.dark .cloud-4 {
    bottom: -5%;
    right: -110px;
    transition: all 0.7s ease;
}

.theme-toggle-wrapper .stars {
    position: absolute;
    top: 150%;
    left: 0;
    transform: translateY(-50%);
    pointer-events: none;
    transition: var(--transition);
    width: 100%;
}

.theme-toggle-wrapper.dark .stars {
    top: 50%;
}